#outer{
    height: 500px;
    background-color: blue;
    width: 500px;

}
#inner{

    font-size: 15px;
    font-size: 1.5em;
    height: 8em;
    background-color: aquamarine;
    width: 8em;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em; 
}
button{

    margin-top: 10px;
    font-size: 50px;
    border-radius: 15px;
    background-color: red;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}
section{
    font-size: 120px;
    margin-top: 20px;
}
div{
    font-size: 2rem;
}
