div{
    height: 400px;
    width: 800px;
    background-color: firebrick;
    border: 5px solid black;
    border-radius: 15px;
    padding-left: 10px;
    margin-top: 20px;
    

}
h1{
    border: 2px dashed pink;
    border-bottom: 4px solid firebrick;
    border-radius: 30%;
    margin: 0px;
}
button{
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 0px 20px;
    margin-top: 10px;
}