<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home Page 4 + 3</h1>
    <h3>Created by EJs tag < % = is <%= 4 + 3 %></h3>
    <h2>Created by EJS tag is <%= "ejs demo".toUpperCase() %></h2>
    <h3>Created by EJs tag is <%= ["antrral","rohit","naresh"][1] %></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, commodi itaque eius maxime doloribus debitis voluptatibus? Architecto quo quod ipsa. Dolorum asperiores impedit voluptatum molestiae placeat magnam adipisci harum quos magni dignissimos? Eius possimus commodi vel eaque reiciendis quos ad ab mollitia, velit deleniti. Minima voluptate vel delectus cumque eligendi?</p>

    <button>Click me!</button>
</body>
</html>